@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100;1,14..32,100&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
}
.overall-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  gap: 20px;
}
.input-field {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.response-content {
  width: 900px;
  position: relative;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit-btn {
  width: 90px;
  height: 42px;
  position: absolute;
  right: 513px;
}
.question-field {
  display: flex;
  gap: 5px;
}
.question-input {
  width: 760px;
  height: 28px;
  padding: 5px;
  font-size: 16px;
  outline: unset;
}
.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}
